<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Course App", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Students", students_path %></li>

      </ul>
    </nav>
  </div>
</header>